
/* Backup override if needed */
/*.btn-primary {
    background-color: #5cd799 !important;
    border-color: #5cd799 !important;
}*/


body {
    font-family: "JetBrains Mono", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.nav-link {
    color: black;
}

    .nav-link:hover {
        color: var(--bs-success);
    }

.badge {
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 0.75rem;
}

.icon-container {
    position: relative;
    display: inline-block;
    margin-left: 15px;
}
.custom-navbar{

}
#customFooter {
    color: white;
    /*    background-color: #5cd799;*/
    background-color: var(--bs-primary);
}
.textFooter{
    color: white;
    text-decoration: none;
}
.link:hover {
    color: var(--bs-success);
}

.forgotpass{
    text-align: center;
   font-size: 13px ;
}

